In [ ]:
import os
import traceback
import pandas as pd
import geopandas as gpd
from geopandas.tools import sjoin
import sqlalchemy
import matplotlib.pyplot as plt
import numpy as np

user='hifld_summer'
pw='hifld_summer'
name='hifld_summer'
host='moria'
port=2023
engine = sqlalchemy.create_engine(
    f'postgresql://{user}:{pw}@{host}:{port}/{name}'
    )

In [34]:
%%time
sql="""
select * from results.all_features_v2 limit 1000
"""

df = pd.read_sql_query(sql, con=engine)
df = df.drop(columns=['geom'])

df["mh_class"] = (df["use_code_std_lps"] == '1006').astype(int)

# df.to_sql('all_features_w_class',con=engine, schema='results')

CPU times: total: 62.5 ms
Wall time: 53.3 ms

In [36]:
sql_f ="""
select * from results.all_features_w_class limit 1000
"""
df = pd.read_sql_query(sql_f, con=engine)
print(df.mh_flag.describe())

count    1000.000000
mean        0.078000
std         0.268306
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max         1.000000
Name: mh_flag, dtype: float64