In [2]:
import os
import traceback
import pandas as pd
import geopandas as gpd
from geopandas.tools import sjoin
import sqlalchemy
import matplotlib.pyplot as plt
import numpy as np

user='hifld_summer'
pw='hifld_summer'
name='hifld_summer'
host='moria'
port=2023
engine = sqlalchemy.create_engine(
    f'postgresql://{user}:{pw}@{host}:{port}/{name}'
    )

In [85]:
sql="""
select build_id, pt_geom, parcel_lid, p_code from structures.alabama_w_parcels limit 500000
"""

gdf = gpd.GeoDataFrame.from_postgis(sql, con=engine,geom_col='pt_geom')
print(gdf.columns)

gdf["mh_classifier"] = (gdf["p_code"] == '1006').astype(int)

print(gdf.mh_classifier.value_counts())

Index(['build_id', 'pt_geom', 'parcel_lid', 'p_code'], dtype='object')
mh_classifier
0    466580
1     33420
Name: count, dtype: int64

In [91]:
gdf.head(10000)

,build_id,pt_geom,parcel_lid,p_code,mh_classifier
0,5253254,POINT (-86.80693 34.54150),02017S79PL4NPMNFKMWBO9,0010,0
1,6326729,POINT (-86.36455 34.64139),0202QOEAXAHHZ1V0DDG7XL,1001,0
2,966518,POINT (-85.72270 31.07562),0202ZFQB1ZL3VA0CN93M0V,1001,0
3,5838067,POINT (-86.02182 34.00535),0202CBW7616JPC2PT3C453,1001,0
4,3367846,POINT (-86.90677 33.44117),0205BIMXEGVKT481I0VKXM,1001,0
...,...,...,...,...,...
9995,5524590,POINT (-87.16679 34.75471),0200VIZH9KP6A3GII8K867,1001,0
9996,4969831,POINT (-86.77232 34.30595),02045CIBOK1QKZC0OSNOY7,1006,1
9997,1041458,POINT (-85.45598 31.19674),02021GBXRZAYE0AT8V3M60,1001,0
9998,1818322,POINT (-85.16597 31.78349),020077V54G7KAXVASOS2Z0,1006,1
9999,14166211,POINT (-86.33230 32.36433),0204V7WG5L92X4TJLCUACF,1001,0